body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: url('../img/bg.png') no-repeat center center fixed;
    /* background-size: cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.username {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.start-button {
    padding: 15px 30px;
    font-size: 18px;
    width: 100%;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0056b3;
}

.container {
    width: 100%;
    max-width: 400px; /* Ограничиваем ширину для мобильных устройств */
    padding: 20px;
    box-sizing: border-box;
    background-color: #00000080;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-block {
    width: 100%;
    aspect-ratio: 16 / 9; /* Соотношение сторон 1:1 */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: #a57e2a;
    border-style: ridge;
}

.text-block {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Если карточек много, они переносятся на новую строку */
    justify-content: center;
}

.card {
    width: calc(30% - 5px); /* 3 карточки в ряд с отступом */
    aspect-ratio: 1 / 1.5; /* Соотношение сторон карточки */
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-shadow: none;
    color: #000000;
}

.card-front {
    background-color: #cdb747;
}

.card-back {
    background-color: #00abb3;
    transform: rotateY(180deg);
}

.continue-button {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 20px 1px 10px 1px;
    cursor: pointer;
    float: right; /* Прижимаем кнопку к правой части */
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #218838;
}

.continue-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.player-state {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.player-state p {
    margin: 5px 0;
}